@import "source-sans";

.commento-root {
    position: relative;
    padding: 0;
    width: 100%;
    font-family: inherit;

    * {
        font-family: inherit;
        font-size: 15px;
        line-height: 1.5;
        color: #50596c;
        text-rendering: optimizeLegibility;
    }

    @import "colors-main";
    @import "embed/common";
    @import "embed/animations";
    @import "embed/button";
    @import "embed/table";
    @import "embed/profile";
    @import "embed/mod-tools";
    @import "embed/input";
    @import "embed/card";
    @import "embed/dialog";
    @import "embed/footer";

    .commento-hidden {
        display: none;
    }

    .commento-backdrop {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        background-color: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(4px);
    }

    .commento-error-box {
        width: 100%;
        border-radius: 4px;
        height: 32px;
        text-align: center;
        color: $red-7;
        font-weight: 700;
    }

    .commento-moderation-notice {
        width: 100%;
        border-radius: 4px;
        height: 32px;
        text-align: center;
        color: $orange-7;
        font-weight: 700;
        margin-top: 16px;
    }

    .commento-sort-policy-buttons-container {
        padding: 12px 0;
        font-weight: 400;

        .commento-sort-policy-buttons {
            float: right;

            .commento-sort-policy-button {
                color: $gray-6 !important;
                font-size: 13px;
                padding: 0 7px;
                cursor: pointer;
            }

            .commento-sort-policy-button-selected {
                color: $blue-8 !important;
                font-weight: bold;
            }
        }
    }


    &.commento-root-font {
        * {font-family: 'Source Sans Pro', sans-serif;}
    }
}
