@import "colors-main";

*, ::after, ::before {
    box-sizing: border-box;
}

code {
    font-family: monospace;
    font-size: 13px;
    white-space: pre;
}

a {
    color: $blue-6 !important;
    outline: none !important;
    text-decoration: none !important;
    cursor: pointer !important;
}

blockquote {
    margin: 0 0 0 8px;
    padding: 0 0 0 5px;
    border-left: 2px solid $gray-5;
    color: $gray-6;
}

.commento-ms-1 {
    margin-left: 0.25rem;
}

.commento-me-1 {
    margin-right: 0.25rem;
}
