@import "colors-main.scss";

.commento-dialog-container {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: start;

    .commento-dialog {
        position: relative;
        width: 90%;
        max-width: 500px;
        min-height: 100px;
        background: $gray-1;
        padding: 16px;
        opacity: 1;
        transition: opacity 0.2s;
        border-radius: 12px;
        box-shadow: 0 0 20px rgba(153, 153, 153, 0.5);

        @import "commento-oauth.scss";

        hr {
            border: none;
            background: $gray-2;
            height: 1px;
            margin: 24px 0;
        }

        .commento-login-box-subtitle {
            color: $gray-6;
            text-align: center;
            margin: 12px 0;
            font-size: 15px;
        }

        .commento-input-container {
            display: flex;
            justify-content: center;
            width: 100%;
            margin: 8px 0;

            .commento-input-wrapper {
                box-shadow: 0 1px 3px rgba(50, 50, 93, .15), 0 1px 0 rgba(0, 0, 0, .02);
                border-radius: 4px;
                background: $white;
                width: 100%;
                max-width: 400px;

                .commento-input {
                    display: inline;
                    height: 40px;
                    background: $white;
                    border: none;
                    outline: none;
                    padding: 5px 5px 5px 10px;
                    width: calc(100% - 150px);

                    &::placeholder {
                        color: $gray-5;
                    }
                }

                .commento-input-button {
                    height: 40px;
                    min-width: 110px;
                    float: right;
                    background: $white;
                    border: none;
                    outline: none;
                    padding: 0 10px 0 10px;
                    border-left: 1px solid $gray-1;
                    font-size: 12px;
                    text-transform: uppercase;
                    text-align: center;
                    font-weight: bold;
                    color: $blue-7;
                    cursor: pointer;
                    transition: all 0.2s;
                    width: unset;

                    &:hover {
                        color: $blue-6;
                    }

                    &:disabled {
                        cursor: default;
                        color: $gray-6;
                    }
                }
            }
        }

        .commento-forgot-link-container,
        .commento-login-link-container {
            margin: 16px;
            width: calc(100% - 32px);
            text-align: center;
        }

        .commento-forgot-link,
        .commento-login-link {
            font-size: 14px;
            font-weight: bold;
            border-bottom: none;
        }

        .commento-forgot-link {
            font-size: 13px;
            color: $gray-6;
            font-weight: normal;
        }

        .commento-dialog-btn-close {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 2;
            padding: 1.25rem 1rem;
            box-sizing: content-box;
            width: 1em;
            height: 1em;
            color: #000;
            background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
            border: 0;
            border-radius: 0.25rem;
            opacity: .5;
            cursor: pointer;

            &:hover {
                color: #000;
                text-decoration: none;
                opacity: .75;
            }
        }
    }
}
