<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html lang="en">
<head>
    <meta name="viewport" content="user-scalable=no,initial-scale=1">
    <title>Comentario: Confirm Your Email</title>
</head>
<body class="content" style="font-size:14px;background:white;font-family:sans-serif;padding:0;margin:0;">
    <p>Hi!</p>
    <p>You recently registered a new Comentario account with this email address. If you wish to complete registration, use the link below:</p>
    <p>{{ .URL }}</p>
    <p>If you did not do initiate this, you can ignore this email.</p>
</body>
</html>
