<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html lang="en">
<head>
    <meta name="viewport" content="user-scalable=no,initial-scale=1">
    <title>Comentario Domain Export Errored</title>
</head>
<body class="content" style="font-size:14px;background:white;font-family:sans-serif;padding:0;margin:0;">
    <p>Hi!</p>
    <p>You recently requested a data export of your Comentario domain {{ .Domain }}. An error was encountered while processing the request. Please contact support to resolve this issue.</p>
    <p style="font-size:11px">Technical details:<br><br>{{ .Error }}</p>
</body>
</html>


