<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html lang="en">
<head>
    <meta name="viewport" content="user-scalable=no,initial-scale=1">
    <title>Comentario Domain Export</title>
</head>
<body class="content" style="font-size:14px;background:white;font-family:sans-serif;padding:0;margin:0;">
    <p>Hi!</p>
    <p>You recently requested a data export of your Comentario domain {{ .Domain }}. You can download a GZipped archive of a JSON export of all the comments and commenters associated with the domain here:</p>
    <p>{{ .URL }}</p>
    <p>The archive will be available for download for 7 days.</p>
</body>
</html>
