@import "../colors-main";

*, ::after, ::before {
    box-sizing: border-box;
}

code {
    font-family: monospace;
    font-size: 13px;
    white-space: pre;
}

a {
    color: $link-color !important;
    outline: none !important;
    text-decoration: none !important;
    cursor: pointer !important;

    &:hover, &:focus {
        color: $link-hover-color !important;
    }
}

blockquote {
    margin: 0 0 0 8px;
    padding: 0 0 0 5px;
    border-left: 2px solid $gray-5;
    color: $gray-6;
}

// Margins

.comentario-ms-1 {
    margin-left: 0.25rem;
}

.comentario-me-1 {
    margin-right: 0.25rem;
}

// Font weight

.comentario-fw-bold {
    font-weight: bold;
}

// Utilities

.comentario-hidden {
    display: none;
}
