@import "../colors-main";
@import "../checkbox";

textarea,
input[type=text],
input[type=email],
input[type=password] {
    background-color: $white;
    border: 1px solid rgba(50, 50, 93, .1);
    border-radius: 3px;
    color: $gray-7;

    // Draw a red border around invalid controls that have been touched (blurred; gets added programmatically)
    &.commento-touched:invalid {
        border: 1px solid $red-7;
    }

    &::placeholder {
        color: $gray-5;
    }
}

textarea {
    display: inline-block;
    white-space: pre-wrap;
    padding: 8px;
    outline: none;
    overflow: auto;
    min-height: 130px;
    width: 100%;

    &::placeholder {
        font-size: 18px;
        display: flex;
        line-height: 110px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

.commento-textarea-form {
    display: flex;
    flex-direction: column;

    .commento-textarea-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .commento-textarea-form-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 12px;
    }
}

.commento-anonymous-checkbox-container {
    float: right;
    margin: 20px 16px;

    input[type="checkbox"] + label {
        padding-left: 24px;
        font-size: 12px;
        font-weight: bold;
        color: $gray-7;
    }

    input[type="checkbox"] + label:before {
        margin-top: 1px;
    }

    input[type="checkbox"] + label:after {
        margin-top: -1px;
    }
}

.commento-input-group {
    flex: 1 1 100%;
    display: flex;
    align-items: stretch;
    box-shadow: 0 1px 3px rgba(50, 50, 93, .15), 0 1px 0 rgba(0, 0, 0, .02);
    border-radius: 4px;
    background-color: $white;
    margin: 8px;

    .commento-input {
        flex-grow: 1;
        height: 40px;
        background-color: $white;
        border: none;
        outline: none;
        padding: 5px 5px 5px 10px;

        &::placeholder {
            color: $gray-5;
        }
    }

    .commento-button {
        box-shadow: none;
        margin: 0;
    }
}
