@import "../colors-main";

.commento-mod-tools {
    border-top: 1px solid rgba(50, 50, 93, .1);

    .commento-mod-tools-title {
        color: $indigo-8;
    }

    button {
        color: $gray-7;
    }
}
